.input-group-text {
  background-color: #4caf50;
  cursor: pointer;
  align-items: center;
}
.row-custom {
  display: flex;
  justify-content: space-between;
}
.input-group-text:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.input-group-text:active {
  background-color: #333;
  color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(0) !important;
}
.form-check-input {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 2px solid gray;
}
th {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

.btn-custom {
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  line-height: 30px;
  color: white;
  border: none; /* Smooth hover effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
}
.btn-edit,
.btn-info {
  background-color: #4caf50;
}

.btn-delete {
  background-color: #f44336;
}
.btn-primary {
  background-color: #007bff;
}
.btn-custom:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15) !important;
  transform: translateY(-2px) !important;
  background-color: whitesmoke;
  border: none;
}
.btn-custom:active {
  background-color: #333;
  color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
  transform: translateY(0) !important;
  color: black !important;
}

.fa {
  margin-right: 5px; /* Space between icon and text */
}

.pagination .page-item .page-link {
  border-radius: 50px;
  padding: 10px 15px;
  border: none;
  background-color: #f1f1f1;
  color: #343a40;
  transition: all 0.3s ease;
}

.pagination .page-item.active .page-link {
  background-color: #0d6efd;
}

.pagination .page-item .page-link:hover {
  background-color: #0d6efd;
  color: white;
}

.pagination .page-link {
  font-size: 1.1rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.pagination .page-item.disabled .page-link {
  background-color: #e9ecef;
}